.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px 16px;
  justify-content: center;
}

@media (min-width: 1280px) {
  .photo-grid {
    margin-right: auto;
    margin-left: auto;
  }
}