.intro__container {
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .intro__container {
    max-width: 984px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .intro__container {
    max-width: 928px;
  }
}