.footer__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__links {
    display: block;
  }
}