.cover__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 360px;
  z-index: 1;
  position: relative;
  margin: auto;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 767px){
  .cover__text {
    font-size: 14px;
    line-height: 16px;
    width: 288px;
  }
}