.lead__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 1280px) {
  .lead__img {
    max-width: 984px;
    margin: 64px auto 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead__img {
    max-width: 928px;
    margin: 56px auto 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead__img {
    margin: 56px 0 0 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead__img {
    margin: 40px 0 0 0;
  }
}